@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;800&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: 'Manrope', sans-serif;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#container {
  margin: 0.5rem;
}

#heading-1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

#heading-2 {
  color: hsl(225, 20%, 60%);
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 12px;
}

#card {
  background: hsl(0, 0%, 100%);
  box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 1.5rem 0;
}

#views {
  color: hsl(225, 20%, 60%);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-bottom: 1rem;
}

#slider-wrapper #slider {
  background: hsl(224, 65%, 95%);
  border-radius: 50px;
  height: 10px;
  width: 250px;
  -webkit-appearance: none;
}

#slider-wrapper #slider::-webkit-slider-thumb {
  border-radius: 50px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
}

input[type='range']::-moz-range-thumb {
  background: 0;
  border-radius: 50px;
  border: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 3;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

#selector {
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: 473px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#selectBtn {
  height: 45px;
  width: 45px;
  color: #000;
  background: hsl(174, 86%, 45%);
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-slider {
  color: hsl(174, 77%, 80%);
  height: 15px;
}

#timescale {
  color: hsl(225, 20%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 400;
}

#price {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 36px;
  font-weight: 600;
}

#billing {
  display: flex;
  justify-content: center;
}

#monthly-billing,
#yearly-billing {
  font-size: 13px;
  font-weight: 600;
  padding: 15px;
}

#discount {
  padding-left: 10px;
}

.list-item {
  color: hsl(225, 20%, 60%);
  font-size: 12px;
  line-height: 2.2;
  list-style-type: none;
}

#btn {
  border-radius: 50px;
  border: 0;
  background: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  align-items: center;
  font-size: 13px;
  padding: 14px 40px;
}
